[user]
    name = maksimshchutski
    email = maksim.shchutski@itrexgroup.com
	
[includeIf "gitdir:~/Projects/work/itrex/noom/"]
	path = ~/Projects/work/itrex/noom/.gitconfig

[core]
	editor = code --wait
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	mc = merge --continue
	co = checkout
	pf = push --force
	p = push
	c = commit
	ca = commit --amend
	s = status
	br = branch
	st = status
	l10 = log --pretty=oneline -10
	l = log --oneline
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true