[user]
	name = maximsan
	email = maximuzz@yandex.ru
	
[includeIf "gitdir:~/Projects/work/itrex/noom/"]
	path = ~/Projects/work/itrex/noom/.gitconfig

[core]
	editor = code --wait
	autocrlf = input
	hooksPath = /Users/maksimshchutski/.git-hooks
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	mc = merge --continue
	co = checkout
	pf = push --force
	p = push
	c = commit
	ca = commit --amend
	s = status
	br = branch
	st = status
	l10 = log --pretty=oneline -10
	l = log --oneline
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lsha = rev-parse HEAD
	lc = log -1 HEAD
	visual = !gitk
[http]
	postBuffer = 524288000
